.regionArea {
  max-width: 70rem;
  margin: auto;
  padding: 4rem 1.4rem;
  text-align: center;
  .regions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .header {
    color: #007eda;
  }
}
